body {
    background-image: url("photos/halftone-yellow.png")
}

h1 {
    color: black;
}

#burger {
    height: 170px;
    width: 170px;
    margin-bottom: 2.4%;
}

li h3 {
    font-size: 28px;
    font-family: 'Joti One', cursive;
}

ul {
    width: 100%;
    floaT: left;
}

li {
    background-color: rgb(253, 217, 111);
    border-radius: 10px;
    display: block;
    padding: 1.6%;
}